<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="lockFactoryBean1" class="me.galaxy.lock.spring.LockFactoryBean">
        <property name="lockFactoryType" value="REDISSON"/>
        <property name="address" value="${redis.address}"/>
        <property name="database" value="${redis.database}"/>
    </bean>

    <bean id="lockFactoryBean2" class="me.galaxy.lock.spring.LockFactoryBean">
        <property name="lockFactoryType" value="REDISSON"/>
        <property name="address" value="${redis.address}"/>
        <property name="database" value="${redis.database}"/>
    </bean>

    <bean id="firstActionLockTemplate" class="me.galaxy.lock.spring.ActionLockTemplate">
        <property name="lockFactory" ref="lockFactoryBean1"/>
    </bean>

    <bean id="secondActionLockTemplate" class="me.galaxy.lock.spring.ActionLockTemplate">
        <property name="lockFactory" ref="lockFactoryBean1"/>
    </bean>

<!--    <bean class="me.galaxy.lock.spring.aspect.LockActionAspect"/>-->

</beans>